flows.json
[{"id":"57006fd1.03c01","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7584faac.f72644","type":"ibmiot in","z":"57006fd1.03c01","authentication":"apiKey","apiKey":"ea67eab6.b22bd8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":80,"wires":[["a5d6698d.77fae8","b14dc48a.c025e8","462e1dda.a66414","ec671301.ebba3","b6b93db8.83aaa"]]},{"id":"a5d6698d.77fae8","type":"debug","z":"57006fd1.03c01","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":80,"wires":[]},{"id":"b14dc48a.c025e8","type":"ui_gauge","z":"57006fd1.03c01","name":"","group":"ad4ef8cb.b770a8","order":2,"width":0,"height":0,"gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.pulse}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":160,"wires":[]},{"id":"462e1dda.a66414","type":"ui_gauge","z":"57006fd1.03c01","name":"","group":"cf4a07c1.32fd28","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":240,"wires":[]},{"id":"ec671301.ebba3","type":"ui_gauge","z":"57006fd1.03c01","name":"","group":"87ca524a.391f3","order":0,"width":0,"height":0,"gtype":"gage","title":"HeartBeat","label":"units","format":"{{msg.payload.heartrate}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":320,"wires":[]},{"id":"b6b93db8.83aaa","type":"cloudant out","z":"57006fd1.03c01","name":"","cloudant":"","database":"iotdata","service":"node-red-vsrdv-2020--cloudant-1601561878851-18611","payonly":true,"operation":"insert","x":320,"y":400,"wires":[]},{"id":"ea67eab6.b22bd8","type":"ibmiot","z":"","name":"newAPI","keepalive":"60","serverName":"f6wh8t.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ad4ef8cb.b770a8","type":"ui_group","z":"","name":"Pulse","tab":"8692d43d.b3e4f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"cf4a07c1.32fd28","type":"ui_group","z":"","name":"temperature","tab":"8692d43d.b3e4f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"87ca524a.391f3","type":"ui_group","z":"","name":"Heart Beat","tab":"8692d43d.b3e4f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"8692d43d.b3e4f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]